:root {
	--main-bg-color: #27cfed;
	--sidemenu: #ffffff;
	--sidemenutext: #363232;
  }

body { 
    background-color:var(--main-bg-color);
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.slides{
    margin-top: 3vw;
    margin-left: 5vw;
}

/*SIDEBAR*/
span {
	color: #ffffff;
	top: 0.5vw;
	float: right;
	right: 20px;
	margin-right: 1vw;
	margin-top: 0vw;
}


.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color:var(--sidemenu);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: var(--sidemenutext);
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: var(--main-bg-color);
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

  /*END OF CODE FOR MENU*/