:root {
	--main-bg-color: #27cfed;
	--sidemenu: #ffffff;
	--sidemenutext: #363232;
	--ourgreen: #6cff3f;
	--ourred: #f23029;
	--ouryellow: #f7e224;
	--ourpurple: #c44cf0;
}

body { 
    background-color:var(--main-bg-color);
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.slides{
    margin-top: 3vw;
	margin-left: 5vw;
	float: left;
}

/*SIDEBAR*/
span {
	color: #ffffff;
	top: 0.5vw;
	float: right;
	right: 20px;
	margin-right: 1vw;
	margin-top: 0vw;
}


.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color:var(--sidemenu);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: var(--sidemenutext);
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: var(--main-bg-color);
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

  /*END OF CODE FOR MENU*/

.controlpanel{
	float: left;
	margin-top: 8vw;
	margin-left: 3.5vw;
	margin-right: 8vw;
	display: block;
  }

.yesbutton{
	font-size: 35px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: white;
	background-color: var(--ourgreen);
	border-radius: 15px;
	box-shadow: 0 9px rgb(71, 70, 70);
	text-shadow: 0 0 3px #0a0a0a, 0 0 5px #0000FF;
	margin-bottom: 5vw;
  }

.yesbutton:hover {background-color: #4bcc4f}

.yesbutton:active {
  background-color: var(--ourgreen);
  box-shadow: 0 5px rgb(102, 102, 102);
  transform: translateY(4px);
}

.nobutton{
	font-size: 35px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: white;
	background-color: var(--ourred);
	border-radius: 15px;
	box-shadow: 0 9px rgb(71, 70, 70);
	text-shadow: 0 0 3px #0a0a0a, 0 0 5px #0000FF;
	margin-left: 3vw;
	margin-bottom: 5vw;
  }

.nobutton:hover {background-color: #bb3732}

.nobutton:active {
  background-color: var(--ourred);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.squarebutton{
	font-size: 45px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: white;
	background-color: var(--ourred);
	border-radius: 15px;
	box-shadow: 0 9px rgb(71, 70, 70);
	text-shadow: 0 0 3px #0a0a0a, 0 0 5px #0000FF;
	margin-left: 1.6vw;
	margin-bottom: 5vw;
}

.squarebutton:hover {background-color: #cc4b4b}

.squarebutton:active {
  background-color: var(--ourred);
  box-shadow: 0 5px rgb(102, 102, 102);
  transform: translateY(4px);
}

.circlebutton{
	font-size: 45px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: white;
	background-color: var(--ouryellow);
	border-radius: 15px;
	box-shadow: 0 9px rgb(71, 70, 70);
	text-shadow: 0 0 3px #0a0a0a, 0 0 5px #0000FF;
	margin-left: 4vw;
	margin-bottom: 5vw;
}

.circlebutton:hover {background-color: #bfc935}

.circlebutton:active {
  background-color: var(--ouryellow);
  box-shadow: 0 5px rgb(102, 102, 102);
  transform: translateY(4px);
}

.trianglebutton{
	font-size: 45px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: white;
	background-color: var(--ourpurple);
	border-radius: 15px;
	box-shadow: 0 9px rgb(71, 70, 70);
	text-shadow: 0 0 3px #0a0a0a, 0 0 5px #0000FF;
	margin-left: 1.6vw;
}

.trianglebutton:hover {background-color: #a74bcc}

.trianglebutton:active {
  background-color: var(--ourpurple);
  box-shadow: 0 5px rgb(102, 102, 102);
  transform: translateY(4px);
}

.diamondbutton{
	font-size: 45px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: white;
	background-color: var(--ourgreen);
	border-radius: 15px;
	box-shadow: 0 9px rgb(71, 70, 70);
	text-shadow: 0 0 3px #0a0a0a, 0 0 5px #0000FF;
	margin-left: 4vw;
}

.diamondbutton:hover {background-color: #4bcc4f}

.diamondbutton:active {
  background-color: var(--ourgreen);
  box-shadow: 0 5px rgb(102, 102, 102);
  transform: translateY(4px);
}